#main img {
	width: 100%;
    height: auto;
    display: none;
}
#main video {
    width: 100%;
    height: auto;
    display: none;
}

#main p {
	margin-bottom: 0px;
	margin-top: 20px;
}

.loading {

    text-align: center;

}

.loading img {

}

